body {
    font-family: Arial, sans-serif;
    background-color: rgb(221, 218, 218);
    text-align: center;
}

.container {
    width: 600px;
    margin: auto;
}

#cookie {
    width: 250px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

.upgrade {
    border: 5px dotted rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    background-image: url("images/bear2.gif");
    background-color: white;
}

.upgrade img {
    width: 80px;
}

* {
    font-family: "Luckiest Guy", cursive;
    font-weight: 200;
}